.idea/
*.iml
.gradle/
build/
captures/
.externalNativBuild
.cxx/

/local.properties
gradle.properties

.DS_Store
Thumbs.db

*.log

*.jks
*.keystore

google-services.json

*.hprof

out/
*.ipr
*.iws

.vscode/

nbproject/private/
nbbuild/
dist/
nbdist/
